name: Calling Reusable Workflows
on:
    workflow_dispatch:
        inputs:
            name:
                description: "Input description"
                type: string
                required: false
                default: "Vani"

jobs:
    calling-a-reusable-workflow:
        uses: vanira0/gh-resuable-workflow-example/.github/workflows/reusable.yaml@main
        with:
            name: ${{ inputs.name }}
        secrets:
            access_token: ${{ secrets.ACCESS_TOKEN }}
        