name: Calling Reusable Workflows
on:
    workflow_dispatch:
        inputs:
            name:
                description: "Input description"
                type: string
                required: false
                default: "Vani"

jobs:
    calling-a-reusable-workflow:
        uses: vanira0/gh-resuable-workflow-example/.github/workflows/reusable.yaml@master
        with:
            name: ${{ inputs.name }}
        secrets:
            access-token: ${{ secrets.ACCESS_TOKEN }}
    calling-a-reusable-wf-in-same-repo:
        permissions:
            issues: read
        uses: ./.github/workflows/reusable-workflow.yaml
        secrets: inherit
    using-reusable-wf-output:
        runs-on: ubuntu-latest
        needs: calling-a-reusable-wf-in-same-repo
        steps:
            - name: Show reusable workflow output
              run: echo "Current date is ${{ needs.calling-a-reusable-wf-in-same-repo.outputs.date }}"